In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
try:
    from tqdm import tqdm
except:
    !pip install tqdm
    from tqdm import tqdm    
%matplotlib inline

Collecting tqdm
  Using cached https://files.pythonhosted.org/packages/72/c9/7fc20feac72e79032a7c8138fd0d395dc6d8812b5b9edf53c3afd0b31017/tqdm-4.41.1-py2.py3-none-any.whl
Installing collected packages: tqdm
Successfully installed tqdm-4.41.1
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
%%time
azdias = pd.read_csv('../data/Udacity_AZDIAS_052018.csv', sep=';', low_memory = False, index_col = 'LNR')

CPU times: user 1min 10s, sys: 5.36 s, total: 1min 15s
Wall time: 1min 15s

In [3]:
# %%time
# customers = pd.read_csv('../data/Udacity_CUSTOMERS_052018.csv', sep=';', low_memory = False)

In [4]:
azdias.head()

,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
LNR,,,,,,,,,,,,,,,,,,,,,
910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,0.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,0.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,0.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,0.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [5]:
%time
azdias.describe().T

CPU times: user 3 Âµs, sys: 0 ns, total: 3 Âµs
Wall time: 6.91 Âµs

,count,mean,std,min,25%,50%,75%,max
AGER_TYP,891221.0,-0.358435,1.198724,-1.0,-1.0,-1.0,-1.0,3.0
AKT_DAT_KL,817722.0,4.421928,3.638805,1.0,1.0,3.0,9.0,9.0
ALTER_HH,817722.0,10.864126,7.639683,0.0,0.0,13.0,17.0,21.0
ALTER_KIND1,81058.0,11.745392,4.097660,2.0,8.0,12.0,15.0,18.0
ALTER_KIND2,29499.0,13.402658,3.243300,2.0,11.0,14.0,16.0,18.0
ALTER_KIND3,6170.0,14.476013,2.712427,4.0,13.0,15.0,17.0,18.0
ALTER_KIND4,1205.0,15.089627,2.452932,7.0,14.0,15.0,17.0,18.0
ALTERSKATEGORIE_FEIN,628274.0,13.700717,5.079849,0.0,11.0,14.0,17.0,25.0
ANZ_HAUSHALTE_AKTIV,798073.0,8.287263,15.628087,0.0,1.0,4.0,9.0,595.0
ANZ_HH_TITEL,794213.0,0.040647,0.324028,0.0,0.0,0.0,0.0,23.0
ANZ_KINDER,817722.0,0.154018,0.502389,0.0,0.0,0.0,0.0,11.0
ANZ_PERSONEN,817722.0,1.727637,1.155849,0.0,1.0,1.0,2.0,45.0
ANZ_STATISTISCHE_HAUSHALTE,798073.0,7.599356,14.332201,0.0,1.0,3.0,9.0,449.0
ANZ_TITEL,817722.0,0.004162,0.068855,0.0,0.0,0.0,0.0,6.0
ARBEIT,794005.0,3.167854,1.002376,1.0,3.0,3.0,4.0,9.0
BALLRAUM,797481.0,4.153043,2.183710,1.0,2.0,5.0,6.0,7.0
CJT_GESAMTTYP,886367.0,3.632838,1.595021,1.0,2.0,4.0,5.0,6.0
CJT_KATALOGNUTZER,886367.0,3.335264,1.493633,1.0,2.0,4.0,5.0,5.0
CJT_TYP_1,886367.0,3.368086,1.368331,1.0,2.0,3.0,5.0,5.0
CJT_TYP_2,886367.0,3.195014,1.401382,1.0,2.0,3.0,5.0,5.0
CJT_TYP_3,886367.0,3.351290,1.396508,1.0,2.0,3.0,5.0,5.0
CJT_TYP_4,886367.0,3.336151,1.373077,1.0,2.0,3.0,5.0,5.0
CJT_TYP_5,886367.0,3.360684,1.378992,1.0,2.0,3.0,5.0,5.0
CJT_TYP_6,886367.0,3.465980,1.328456,1.0,2.0,4.0,5.0,5.0
D19_BANKEN_ANZ_12,891221.0,0.122336,0.535950,0.0,0.0,0.0,0.0,6.0
D19_BANKEN_ANZ_24,891221.0,0.219907,0.747903,0.0,0.0,0.0,0.0,6.0
D19_BANKEN_DATUM,891221.0,9.267420,1.735725,1.0,10.0,10.0,10.0,10.0
D19_BANKEN_DIREKT,891221.0,0.892735,2.011838,0.0,0.0,0.0,0.0,7.0
D19_BANKEN_GROSS,891221.0,0.568580,1.643764,0.0,0.0,0.0,0.0,6.0
D19_BANKEN_LOKAL,891221.0,0.106769,0.808179,0.0,0.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...
SEMIO_KRIT,891221.0,4.763223,1.830789,1.0,3.0,5.0,6.0,7.0
SEMIO_KULT,891221.0,4.025014,1.903816,1.0,3.0,4.0,5.0,7.0
SEMIO_LUST,891221.0,4.359086,2.022829,1.0,2.0,5.0,6.0,7.0
SEMIO_MAT,891221.0,4.001597,1.857540,1.0,2.0,4.0,5.0,7.0
SEMIO_PFLICHT,891221.0,4.256076,1.770137,1.0,3.0,4.0,6.0,7.0
SEMIO_RAT,891221.0,3.910139,1.580306,1.0,3.0,4.0,5.0,7.0
SEMIO_REL,891221.0,4.240609,2.007373,1.0,3.0,4.0,6.0,7.0
SEMIO_SOZ,891221.0,3.945860,1.946564,1.0,2.0,4.0,6.0,7.0
SEMIO_TRADV,891221.0,3.661784,1.707637,1.0,2.0,3.0,5.0,7.0
SEMIO_VERT,891221.0,4.023709,2.077746,1.0,2.0,4.0,6.0,7.0
SHOPPER_TYP,891221.0,1.266967,1.287435,-1.0,0.0,1.0,2.0,3.0
SOHO_KZ,817722.0,0.008423,0.091392,0.0,0.0,0.0,0.0,1.0
STRUKTURTYP,793947.0,2.539212,0.754926,1.0,2.0,3.0,3.0,3.0
TITEL_KZ,817722.0,0.003483,0.084957,0.0,0.0,0.0,0.0,5.0
UMFELD_ALT,793435.0,3.223125,1.255785,1.0,2.0,3.0,4.0,5.0
UMFELD_JUNG,793435.0,4.017526,1.118399,1.0,3.0,4.0,5.0,5.0
UNGLEICHENN_FLAG,817722.0,0.090067,0.286278,0.0,0.0,0.0,0.0,1.0
VERDICHTUNGSRAUM,793947.0,4.585760,8.471520,0.0,0.0,1.0,5.0,45.0
VERS_TYP,891221.0,1.197852,0.952532,-1.0,1.0,1.0,2.0,2.0
VHA,817722.0,0.438820,1.143290,0.0,0.0,0.0,0.0,5.0
VHN,770025.0,2.417322,1.166572,0.0,2.0,2.0,3.0,4.0
VK_DHT4A,815304.0,6.001214,2.856091,1.0,3.0,6.0,9.0,11.0
VK_DISTANZ,815304.0,7.532130,3.247789,1.0,5.0,8.0,10.0,13.0
VK_ZG11,815304.0,5.945972,2.771464,1.0,4.0,6.0,8.0,11.0
W_KEIT_KIND_HH,783619.0,3.933406,1.964701,0.0,2.0,4.0,6.0,6.0
WOHNDAUER_2008,817722.0,7.908791,1.923137,1.0,8.0,9.0,9.0,9.0
WOHNLAGE,798073.0,4.052836,1.949539,0.0,3.0,3.0,5.0,8.0
ZABEOTYP,891221.0,3.362438,1.352704,1.0,3.0,3.0,4.0,6.0
ANREDE_KZ,891221.0,1.522098,0.499512,1.0,1.0,2.0,2.0,2.0
ALTERSKATEGORIE_GROB,891221.0,2.777398,1.068775,1.0,2.0,3.0,4.0,9.0

In [6]:
from src import DataTransforms


#transforms[col] is a list of transformation that has to be applied to the col in order
transforms = {k:[] for k in azdias.columns}

In [7]:
to_drop = []
#explore categorical data and drop columns with small std or high percent of Nan
for col in azdias.columns:
    nan_percent = azdias[col].isna().sum() / azdias.shape[0] * 100
    if nan_percent > 40:
        #if +40% of the column in NaN then ignore this column
        transforms[col].append(DataTransforms.Drop())
        to_drop.append(col)
        continue
    if azdias[col].dtype == "int64" or azdias[col].dtype == "float64":
        if azdias[col].std() < 0.5:
            # if the std < 0.5 (e.g. most enteries have approximatly the same value) then ignore the column 
            transforms[col].append(DataTransforms.Drop())
            to_drop.append(col)
        continue
            
    print(col, azdias[col].dtype, flush = True)
    print(azdias[col].describe())
    print(f'NaN percent\t{nan_percent : 0.2f}%')
    print(azdias[col].unique())
    print(flush = True)

CAMEO_DEU_2015 object
count     792242
unique        45
top           6B
freq       56672
Name: CAMEO_DEU_2015, dtype: object
NaN percent	 11.11%
[nan '8A' '4C' '2A' '6B' '8C' '4A' '2D' '1A' '1E' '9D' '5C' '8B' '7A' '5D'
 '9E' '9B' '1B' '3D' '4E' '4B' '3C' '5A' '7B' '9A' '6D' '6E' '2C' '7C'
 '9C' '7D' '5E' '1D' '8D' '6C' '6A' '5B' '4D' '3A' '2B' '7E' '3B' '6F'
 '5F' '1C' 'XX']

CAMEO_DEUG_2015 object
count     792242
unique        10
top            8
freq      134441
Name: CAMEO_DEUG_2015, dtype: object
NaN percent	 11.11%
[nan '8' '4' '2' '6' '1' '9' '5' '7' '3' 'X']

CAMEO_INTL_2015 object
count     792242
unique        22
top           51
freq      133694
Name: CAMEO_INTL_2015, dtype: object
NaN percent	 11.11%
[nan '51' '24' '12' '43' '54' '22' '14' '13' '15' '33' '41' '34' '55' '25'
 '23' '31' '52' '35' '45' '44' '32' 'XX']

D19_LETZTER_KAUF_BRANCHE object
count            634108
unique               35
top       D19_UNBEKANNT
freq             195338
Name: D19_LETZTER_KAUF_BRANCHE, dtype: object
NaN percent	 28.85%
[nan 'D19_UNBEKANNT' 'D19_SCHUHE' 'D19_ENERGIE' 'D19_KOSMETIK'
 'D19_VOLLSORTIMENT' 'D19_SONSTIGE' 'D19_BANKEN_GROSS'
 'D19_DROGERIEARTIKEL' 'D19_HANDWERK' 'D19_BUCH_CD' 'D19_VERSICHERUNGEN'
 'D19_VERSAND_REST' 'D19_TELKO_REST' 'D19_BANKEN_DIREKT' 'D19_BANKEN_REST'
 'D19_FREIZEIT' 'D19_LEBENSMITTEL' 'D19_HAUS_DEKO' 'D19_BEKLEIDUNG_REST'
 'D19_SAMMELARTIKEL' 'D19_TELKO_MOBILE' 'D19_REISEN' 'D19_BEKLEIDUNG_GEH'
 'D19_TECHNIK' 'D19_NAHRUNGSERGAENZUNG' 'D19_DIGIT_SERV' 'D19_LOTTO'
 'D19_RATGEBER' 'D19_TIERARTIKEL' 'D19_KINDERARTIKEL' 'D19_BIO_OEKO'
 'D19_WEIN_FEINKOST' 'D19_GARTEN' 'D19_BILDUNG' 'D19_BANKEN_LOKAL']

EINGEFUEGT_AM object
count                  798073
unique                   5162
top       1992-02-10 00:00:00
freq                   383738
Name: EINGEFUEGT_AM, dtype: object
NaN percent	 10.45%
[nan '1992-02-10 00:00:00' '1992-02-12 00:00:00' ... '2010-12-02 00:00:00'
 '2005-03-19 00:00:00' '2011-11-18 00:00:00']

OST_WEST_KZ object
count     798073
unique         2
top            W
freq      629528
Name: OST_WEST_KZ, dtype: object
NaN percent	 10.45%
[nan 'W' 'O']

the categorical columns are <font color='blue'><b>CAMEO_DEU_2015, CAMEO_DEUG_2015, CAMEO_INTL_2015, D19_LETZTER_KAUF_BRANCHE, EINGEFUEGT_AM, OST_WEST_KZ</b> </font>
by exploring the values and using google translate to translate from german I can make these conclusions:

<font color = 'blue'> <b> EINGEFUEGT_AM: </b> </font> the data/time of creation of that entery in the table

<font color = 'blue'> <b> OST_WEST_KZ: </b> </font> east or west which most likely indicates whether the individual is from east or west germany

<font color = 'blue'> <b> D19_LETZTER_KAUF_BRANCHE: </b> </font> is likely the work sector of the individual

<font color = 'blue'> <b> CAMEO_DEU_2015, CAMEO_DEUG_2015, CAMEO_INTL_2015: </b> </font> if I'm not very much mistaken these are the results of running the data by <a href = 'https://www.transunion.co.uk/products-and-services/consumer-marketing-data/segmentation-analysis/cameo-global-classifications/cameo-international'> CAMEO International: Customer Segmentation & Analysis </a> where the codes have the meaning conveyed by <a href = 'https://www.transunion.co.uk/media/2433059/cameo-germany-table.pdf'> this pdf </a>

In [8]:
#drop creation time (EINGEFUEGT_AM)
to_drop.append('EINGEFUEGT_AM')
transforms['EINGEFUEGT_AM'].append(DataTransforms.Drop())

In [9]:
#in OST_WEST_KZ fill na with W as it's the most frequent with a hugh margin
azdias['OST_WEST_KZ'] = azdias['OST_WEST_KZ'].fillna('W')
transforms['OST_WEST_KZ'].append(DataTransforms.Replace(None, 'W'))

In [10]:
#replace 'W' with 1 and 0 otherwise
azdias['OST_WEST_KZ'] = (azdias['OST_WEST_KZ'] == 'W').astype('int32')
azdias['OST_WEST_KZ'].head()
transforms['OST_WEST_KZ'].append(DataTransforms.CustomTransform(lambda s: int(s == 'W')))

In [11]:
#D19_LETZTER_KAUF_BRANCHE fill na with unknown (D19_UNBEKANNT)
#since D19_LETZTER_KAUF_BRANCHE is has no valid total ordering I'll one-hot encode it


data = azdias['D19_LETZTER_KAUF_BRANCHE'].fillna('D19_UNBEKANNT')
to_drop.append('D19_LETZTER_KAUF_BRANCHE')
one_hot = pd.get_dummies(data)
for col in one_hot.columns:
    azdias[col] = one_hot[col]
    
transforms['D19_LETZTER_KAUF_BRANCHE'].append(DataTransforms.Replace(None, 'D19_UNBEKANNT'))
transforms['D19_LETZTER_KAUF_BRANCHE'].append(DataTransforms.OneHotTransform(data))

In [12]:
#CAMEO_DEUG_2015 is the first char (number) of CAMEO_DEU_2015
#where 1 is the richest, 10 is the poorest and X is unknown
azdias["CAMEO_DEUG_2015"] = azdias["CAMEO_DEUG_2015"].fillna('X')
azdias['CAMEO_DEUG_2015'] = azdias['CAMEO_DEUG_2015'].replace('X', '50') # special value
azdias['CAMEO_DEUG_2015'] = azdias['CAMEO_DEUG_2015'].astype('int64')

transforms['CAMEO_DEUG_2015'].append(DataTransforms.Replace(None, 'X'))
transforms['CAMEO_DEUG_2015'].append(DataTransforms.Replace('X', '50'))

In [13]:
#CAMEO_DEU_2015 will have only the char
azdias['CAMEO_DEU_2015'] = azdias['CAMEO_DEU_2015'].fillna('XX')
azdias['CAMEO_DEU_2015'] = azdias['CAMEO_DEU_2015'].apply(lambda s: ord(s[1]) - ord('A'))

transforms['CAMEO_DEU_2015'].append(DataTransforms.Replace(None, 'XX'))
transforms['CAMEO_DEU_2015'].append(DataTransforms.CustomTransform(lambda s: ord(s[1]) - ord('A')))

In [14]:
#CAMEO_INTL_2015 also classfiy from reachiest (1) to poorest (55) where XX is unkown
azdias['CAMEO_INTL_2015'] = azdias['CAMEO_INTL_2015'].fillna('XX')
azdias['CAMEO_INTL_2015'] = azdias['CAMEO_INTL_2015'].replace('XX', '100')
azdias['CAMEO_INTL_2015'] = azdias['CAMEO_INTL_2015'].astype('int64')

transforms['CAMEO_INTL_2015'].append(DataTransforms.Replace(None, 'XX'))
transforms['CAMEO_INTL_2015'].append(DataTransforms.Replace('XX', '100'))

In [15]:
azdias.head()

,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,...,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB,D19_UNBEKANNT
LNR,,,,,,,,,,,,,,,,,,,,,
910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2,1
910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,0.0,...,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1,1
910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,0.0,...,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3,1
910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,0.0,...,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4,1
910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,0.0,...,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3,0

In [16]:
azdias = azdias.drop(columns = to_drop)

In [17]:
azdias.shape
azdias.head().T

LNR                         910215  910220  910225  910226  910241
AGER_TYP                      -1.0    -1.0    -1.0     2.0    -1.0
AKT_DAT_KL                     NaN     9.0     9.0     1.0     1.0
ALTER_HH                       NaN     0.0    17.0    13.0    20.0
ALTERSKATEGORIE_FEIN           NaN    21.0    17.0    13.0    14.0
ANZ_HAUSHALTE_AKTIV            NaN    11.0    10.0     1.0     3.0
ANZ_KINDER                     NaN     0.0     0.0     0.0     0.0
ANZ_PERSONEN                   NaN     2.0     1.0     0.0     4.0
ANZ_STATISTISCHE_HAUSHALTE     NaN    12.0     7.0     2.0     3.0
ARBEIT                         NaN     3.0     3.0     2.0     4.0
BALLRAUM                       NaN     6.0     2.0     4.0     2.0
CAMEO_DEU_2015                23.0     0.0     2.0     0.0     1.0
CAMEO_DEUG_2015               50.0     8.0     4.0     2.0     6.0
CAMEO_INTL_2015              100.0    51.0    24.0    12.0    43.0
CJT_GESAMTTYP                  2.0     5.0     3.0     2.0     5.0
CJT_KATALOGNUTZER              5.0     1.0     2.0     3.0     3.0
CJT_TYP_1                      1.0     5.0     4.0     2.0     3.0
CJT_TYP_2                      1.0     5.0     4.0     2.0     3.0
CJT_TYP_3                      5.0     2.0     1.0     4.0     3.0
CJT_TYP_4                      5.0     3.0     3.0     4.0     4.0
CJT_TYP_5                      5.0     1.0     2.0     5.0     3.0
CJT_TYP_6                      5.0     1.0     2.0     3.0     3.0
D19_BANKEN_ANZ_12              0.0     0.0     0.0     0.0     3.0
D19_BANKEN_ANZ_24              0.0     0.0     0.0     0.0     5.0
D19_BANKEN_DATUM              10.0    10.0    10.0    10.0     5.0
D19_BANKEN_DIREKT              0.0     0.0     0.0     0.0     0.0
D19_BANKEN_GROSS               0.0     0.0     0.0     0.0     0.0
D19_BANKEN_LOKAL               0.0     0.0     0.0     0.0     0.0
D19_BANKEN_OFFLINE_DATUM      10.0    10.0    10.0    10.0    10.0
D19_BANKEN_ONLINE_DATUM       10.0    10.0    10.0    10.0     5.0
D19_BANKEN_ONLINE_QUOTE_12     NaN     NaN     0.0     0.0    10.0
...                            ...     ...     ...     ...     ...
SEMIO_ERL                      3.0     2.0     6.0     7.0     4.0
SEMIO_FAM                      6.0     4.0     1.0     1.0     4.0
SEMIO_KAEM                     6.0     4.0     7.0     5.0     2.0
SEMIO_KRIT                     7.0     4.0     7.0     4.0     3.0
SEMIO_KULT                     3.0     3.0     3.0     4.0     6.0
SEMIO_LUST                     5.0     2.0     4.0     4.0     4.0
SEMIO_MAT                      5.0     3.0     3.0     1.0     2.0
SEMIO_PFLICHT                  5.0     7.0     3.0     4.0     4.0
SEMIO_RAT                      4.0     6.0     4.0     3.0     2.0
SEMIO_REL                      7.0     4.0     3.0     2.0     4.0
SEMIO_SOZ                      2.0     5.0     4.0     5.0     6.0
SEMIO_TRADV                    3.0     6.0     3.0     4.0     2.0
SEMIO_VERT                     1.0     1.0     4.0     4.0     7.0
SHOPPER_TYP                   -1.0     3.0     2.0     1.0     2.0
STRUKTURTYP                    NaN     2.0     3.0     1.0     3.0
UMFELD_ALT                     NaN     3.0     2.0     4.0     4.0
UMFELD_JUNG                    NaN     3.0     5.0     5.0     3.0
VERDICHTUNGSRAUM               NaN     0.0     1.0     0.0     1.0
VERS_TYP                      -1.0     2.0     1.0     1.0     2.0
VHA                            NaN     0.0     0.0     1.0     0.0
VHN                            NaN     4.0     2.0     0.0     2.0
VK_DHT4A                       NaN     8.0     9.0     7.0     3.0
VK_DISTANZ                     NaN    11.0     9.0    10.0     5.0
VK_ZG11                        NaN    10.0     6.0    11.0     4.0
W_KEIT_KIND_HH                 NaN     3.0     3.0     NaN     2.0
WOHNDAUER_2008                 NaN     9.0     9.0     9.0     9.0
WOHNLAGE                       NaN     4.0     2.0     7.0     3.0
ZABEOTYP                       3.0     5.0     5.0     3.0     4.0
ALTERSKATEGORIE_GROB           2.0     1.0     3.0     4.0     3.0
D19_UNBEKANNT                  1.0     1.0     1.0     1.0     0.0

[340 rows x 5 columns]

In [18]:
#get a list of columns with hidden values
numerical_types = ['int64', 'float64']
columns_with_na = []
for col in azdias.columns:
    if azdias[col].dtype not in numerical_types: continue
    if not azdias[col].isna().sum(): continue
    columns_with_na.append(col)
print(len(columns_with_na))
print(columns_with_na)

249
['AKT_DAT_KL', 'ALTER_HH', 'ALTERSKATEGORIE_FEIN', 'ANZ_HAUSHALTE_AKTIV', 'ANZ_KINDER', 'ANZ_PERSONEN', 'ANZ_STATISTISCHE_HAUSHALTE', 'ARBEIT', 'BALLRAUM', 'CJT_GESAMTTYP', 'CJT_KATALOGNUTZER', 'CJT_TYP_1', 'CJT_TYP_2', 'CJT_TYP_3', 'CJT_TYP_4', 'CJT_TYP_5', 'CJT_TYP_6', 'D19_BANKEN_ONLINE_QUOTE_12', 'D19_GESAMT_ONLINE_QUOTE_12', 'D19_KONSUMTYP', 'D19_SOZIALES', 'D19_VERSAND_ONLINE_QUOTE_12', 'EINGEZOGENAM_HH_JAHR', 'EWDICHTE', 'FIRMENDICHTE', 'GEBAEUDETYP', 'GEBAEUDETYP_RASTER', 'GEMEINDETYP', 'GFK_URLAUBERTYP', 'HH_EINKOMMEN_SCORE', 'INNENSTADT', 'KBA05_ALTER1', 'KBA05_ALTER2', 'KBA05_ALTER3', 'KBA05_ALTER4', 'KBA05_ANHANG', 'KBA05_ANTG1', 'KBA05_ANTG2', 'KBA05_ANTG3', 'KBA05_ANTG4', 'KBA05_AUTOQUOT', 'KBA05_BAUMAX', 'KBA05_CCM1', 'KBA05_CCM2', 'KBA05_CCM3', 'KBA05_CCM4', 'KBA05_DIESEL', 'KBA05_FRAU', 'KBA05_GBZ', 'KBA05_HERST1', 'KBA05_HERST2', 'KBA05_HERST3', 'KBA05_HERST4', 'KBA05_HERST5', 'KBA05_HERSTTEMP', 'KBA05_KRSAQUOT', 'KBA05_KRSHERST1', 'KBA05_KRSHERST2', 'KBA05_KRSHERST3', 'KBA05_KRSKLEIN', 'KBA05_KRSOBER', 'KBA05_KRSVAN', 'KBA05_KRSZUL', 'KBA05_KW1', 'KBA05_KW2', 'KBA05_KW3', 'KBA05_MAXAH', 'KBA05_MAXBJ', 'KBA05_MAXHERST', 'KBA05_MAXSEG', 'KBA05_MAXVORB', 'KBA05_MOD1', 'KBA05_MOD2', 'KBA05_MOD3', 'KBA05_MOD4', 'KBA05_MOD8', 'KBA05_MODTEMP', 'KBA05_MOTOR', 'KBA05_MOTRAD', 'KBA05_SEG1', 'KBA05_SEG10', 'KBA05_SEG2', 'KBA05_SEG3', 'KBA05_SEG4', 'KBA05_SEG5', 'KBA05_SEG6', 'KBA05_SEG7', 'KBA05_SEG8', 'KBA05_SEG9', 'KBA05_VORB0', 'KBA05_VORB1', 'KBA05_VORB2', 'KBA05_ZUL1', 'KBA05_ZUL2', 'KBA05_ZUL3', 'KBA05_ZUL4', 'KBA13_ALTERHALTER_30', 'KBA13_ALTERHALTER_45', 'KBA13_ALTERHALTER_60', 'KBA13_ALTERHALTER_61', 'KBA13_ANTG1', 'KBA13_ANTG2', 'KBA13_ANTG3', 'KBA13_ANTG4', 'KBA13_ANZAHL_PKW', 'KBA13_AUDI', 'KBA13_AUTOQUOTE', 'KBA13_BAUMAX', 'KBA13_BJ_1999', 'KBA13_BJ_2000', 'KBA13_BJ_2004', 'KBA13_BJ_2006', 'KBA13_BJ_2008', 'KBA13_BJ_2009', 'KBA13_BMW', 'KBA13_CCM_0_1400', 'KBA13_CCM_1000', 'KBA13_CCM_1200', 'KBA13_CCM_1400', 'KBA13_CCM_1401_2500', 'KBA13_CCM_1500', 'KBA13_CCM_1600', 'KBA13_CCM_1800', 'KBA13_CCM_2000', 'KBA13_CCM_2500', 'KBA13_CCM_2501', 'KBA13_CCM_3000', 'KBA13_CCM_3001', 'KBA13_FAB_ASIEN', 'KBA13_FAB_SONSTIGE', 'KBA13_FIAT', 'KBA13_FORD', 'KBA13_GBZ', 'KBA13_HALTER_20', 'KBA13_HALTER_25', 'KBA13_HALTER_30', 'KBA13_HALTER_35', 'KBA13_HALTER_40', 'KBA13_HALTER_45', 'KBA13_HALTER_50', 'KBA13_HALTER_55', 'KBA13_HALTER_60', 'KBA13_HALTER_65', 'KBA13_HALTER_66', 'KBA13_HERST_ASIEN', 'KBA13_HERST_AUDI_VW', 'KBA13_HERST_BMW_BENZ', 'KBA13_HERST_EUROPA', 'KBA13_HERST_FORD_OPEL', 'KBA13_HERST_SONST', 'KBA13_HHZ', 'KBA13_KMH_0_140', 'KBA13_KMH_110', 'KBA13_KMH_140', 'KBA13_KMH_140_210', 'KBA13_KMH_180', 'KBA13_KMH_210', 'KBA13_KMH_211', 'KBA13_KMH_250', 'KBA13_KMH_251', 'KBA13_KRSAQUOT', 'KBA13_KRSHERST_AUDI_VW', 'KBA13_KRSHERST_BMW_BENZ', 'KBA13_KRSHERST_FORD_OPEL', 'KBA13_KRSSEG_OBER', 'KBA13_KRSSEG_VAN', 'KBA13_KRSZUL_NEU', 'KBA13_KW_0_60', 'KBA13_KW_110', 'KBA13_KW_120', 'KBA13_KW_121', 'KBA13_KW_30', 'KBA13_KW_40', 'KBA13_KW_50', 'KBA13_KW_60', 'KBA13_KW_61_120', 'KBA13_KW_70', 'KBA13_KW_80', 'KBA13_KW_90', 'KBA13_MAZDA', 'KBA13_MERCEDES', 'KBA13_MOTOR', 'KBA13_NISSAN', 'KBA13_OPEL', 'KBA13_PEUGEOT', 'KBA13_RENAULT', 'KBA13_SEG_GELAENDEWAGEN', 'KBA13_SEG_GROSSRAUMVANS', 'KBA13_SEG_KLEINST', 'KBA13_SEG_KLEINWAGEN', 'KBA13_SEG_KOMPAKTKLASSE', 'KBA13_SEG_MINIVANS', 'KBA13_SEG_MINIWAGEN', 'KBA13_SEG_MITTELKLASSE', 'KBA13_SEG_OBEREMITTELKLASSE', 'KBA13_SEG_OBERKLASSE', 'KBA13_SEG_SONSTIGE', 'KBA13_SEG_SPORTWAGEN', 'KBA13_SEG_UTILITIES', 'KBA13_SEG_VAN', 'KBA13_SEG_WOHNMOBILE', 'KBA13_SITZE_4', 'KBA13_SITZE_5', 'KBA13_SITZE_6', 'KBA13_TOYOTA', 'KBA13_VORB_0', 'KBA13_VORB_1', 'KBA13_VORB_1_2', 'KBA13_VORB_2', 'KBA13_VORB_3', 'KBA13_VW', 'KKK', 'KONSUMNAEHE', 'LP_FAMILIE_FEIN', 'LP_FAMILIE_GROB', 'LP_LEBENSPHASE_FEIN', 'LP_LEBENSPHASE_GROB', 'LP_STATUS_FEIN', 'LP_STATUS_GROB', 'MIN_GEBAEUDEJAHR', 'MOBI_RASTER', 'MOBI_REGIO', 'ONLINE_AFFINITAET', 'ORTSGR_KLS9', 'PLZ8_ANTG1', 'PLZ8_ANTG2', 'PLZ8_ANTG3', 'PLZ8_ANTG4', 'PLZ8_BAUMAX', 'PLZ8_GBZ', 'PLZ8_HHZ', 'REGIOTYP', 'RELAT_AB', 'RETOURTYP_BK_S', 'RT_KEIN_ANREIZ', 'RT_SCHNAEPPCHEN', 'RT_UEBERGROESSE', 'STRUKTURTYP', 'UMFELD_ALT', 'UMFELD_JUNG', 'VERDICHTUNGSRAUM', 'VHA', 'VHN', 'VK_DHT4A', 'VK_DISTANZ', 'VK_ZG11', 'W_KEIT_KIND_HH', 'WOHNDAUER_2008', 'WOHNLAGE']

In [19]:
#for each col record its mean
for col in columns_with_na:
    print(col, azdias[col].dtype, flush = True)
    print(azdias[col].describe())
    print(f'NaN percent\t{azdias[col].isna().sum() / azdias.shape[0] * 100 : 0.2f}%')
    print(azdias[col].unique())
    mu = azdias[col].mean()
    transforms[col].append(DataTransforms.Replace(None, mu))
    print('replace na with',mu)
    azdias[col] = azdias[col].fillna(mu)
    print(flush = True)

AKT_DAT_KL float64
count    817722.000000
mean          4.421928
std           3.638805
min           1.000000
25%           1.000000
50%           3.000000
75%           9.000000
max           9.000000
Name: AKT_DAT_KL, dtype: float64
NaN percent	 8.25%
[nan  9.  1.  5.  8.  7.  6.  4.  3.  2.]
replace na with 4.421928234779057

ALTER_HH float64
count    817722.000000
mean         10.864126
std           7.639683
min           0.000000
25%           0.000000
50%          13.000000
75%          17.000000
max          21.000000
Name: ALTER_HH, dtype: float64
NaN percent	 8.25%
[nan  0. 17. 13. 20. 10. 14. 16. 21. 11. 19. 15.  9. 18.  8.  7. 12.  4.
  3.  6.  5.  2.  1.]
replace na with 10.864126194476851

ALTERSKATEGORIE_FEIN float64
count    628274.000000
mean         13.700717
std           5.079849
min           0.000000
25%          11.000000
50%          14.000000
75%          17.000000
max          25.000000
Name: ALTERSKATEGORIE_FEIN, dtype: float64
NaN percent	 29.50%
[nan 21. 17. 13. 14. 10. 16. 20. 11. 19. 15. 18.  9. 22. 12.  0.  8.  7.
 23.  4. 24.  6.  3.  2.  5. 25.  1.]
replace na with 13.70071656633889

ANZ_HAUSHALTE_AKTIV float64
count    798073.000000
mean          8.287263
std          15.628087
min           0.000000
25%           1.000000
50%           4.000000
75%           9.000000
max         595.000000
Name: ANZ_HAUSHALTE_AKTIV, dtype: float64
NaN percent	 10.45%
[ nan  11.  10.   1.   3.   5.   4.   6.   2.   9.   0.  14.  13.   8.
   7.  44.  25.  36.  16. 272.  33.  15.  12.  22.  21.  20.  67.  23.
  18.  27.  24.  31.  39.  19.  30.  17.  29.  61.  54.  88.  49.  60.
  38.  34.  48.  35.  62.  26.  45.  42.  28.  77.  47.  50. 236. 137.
  43.  52.  41.  76.  63.  32.  40.  37.  59.  53.  57. 118.  66.  95.
  78.  70.  46. 185.  73. 154.  80. 102.  92. 126.  94.  71.  68.  81.
  69. 121. 258.  58.  86. 124.  85.  90. 128.  51.  72.  64.  56.  83.
 150. 259.  91. 160. 134. 169. 246.  82. 114. 183. 116.  74. 143.  99.
 216.  98. 125. 112. 123.  55. 120.  75. 141. 103.  87.  89. 223.  93.
 179. 135. 149.  97. 101. 110.  79. 111. 109.  65.  84. 367. 162. 195.
 107. 119. 331. 122. 161. 157. 175. 177. 136. 104. 316. 127. 100. 180.
 155. 133. 178. 176. 108. 353. 131. 130.  96. 256. 117. 146. 211. 199.
 140. 200. 106. 285. 263. 314. 253. 163. 377. 171. 148. 191. 243. 153.
 145. 174. 172. 190. 142. 317. 244. 189. 286. 105. 170. 215. 321. 113.
 115. 156. 129. 242. 132. 280. 159. 138. 158. 267. 151. 164. 187. 206.
 266. 265. 209. 196. 139. 193. 184. 210. 260. 366. 194. 318. 344. 277.
 595. 197. 247. 165. 283. 326. 181. 186. 438. 222. 144. 378. 237. 152.
 208. 274. 430. 202. 214. 231. 219. 225. 230. 198. 224. 333. 168. 221.
 523. 254. 305. 166. 252. 445. 147. 301. 213. 536. 220. 249. 290. 515.
 276. 241. 204. 250. 218. 226. 201. 240. 404. 348. 328. 228. 304. 167.
 346. 205. 207. 293. 255. 307. 414. 311. 347. 379. 395. 229. 232.]
replace na with 8.28726319522149

ANZ_KINDER float64
count    817722.000000
mean          0.154018
std           0.502389
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.000000
Name: ANZ_KINDER, dtype: float64
NaN percent	 8.25%
[nan  0.  1.  2.  3.  4.  5.  6.  9.  7. 11.  8.]
replace na with 0.1540181137354749

ANZ_PERSONEN float64
count    817722.000000
mean          1.727637
std           1.155849
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max          45.000000
Name: ANZ_PERSONEN, dtype: float64
NaN percent	 8.25%
[nan  2.  1.  0.  4.  3.  5.  7.  6.  8. 12.  9. 21. 10. 13. 11. 14. 45.
 20. 31. 29. 37. 16. 22. 15. 23. 18. 35. 17. 40. 38.]
replace na with 1.727637265476531

ANZ_STATISTISCHE_HAUSHALTE float64
count    798073.000000
mean          7.599356
std          14.332201
min           0.000000
25%           1.000000
50%           3.000000
75%           9.000000
max         449.000000
Name: ANZ_STATISTISCHE_HAUSHALTE, dtype: float64
NaN percent	 10.45%
[ nan  12.   7.   2.   3.   5.   6.   1.  14.   4.  11.  13.  30.  22.
  36. 244.  10.  32.   8.   9.  18.  17.  16.  67.  19.  15.  26.  20.
  23.  33.  34.  68.  53.  21.  42.  57.  28.  25.  60.  35.  29.  43.
  64.  27.  46.  24.  48.  31.  56.  37. 243. 157.  39.  40.  71.  63.
  38.  44.  50. 101.  66.  41.  81.  47. 192. 131. 149.  74.  84.  80.
 137.  45.  94.  65.  54.  87.  69. 125.  61.  82.  73.  72.  86. 292.
  70.  83.  91. 112.  58.  51.  75.  52.  90. 140.  49. 212.  79. 152.
 142. 166. 251.  99. 107.  76. 173.  89. 138.  92. 154. 115. 100.  55.
 116.  88. 113. 162.  95. 168.  62.  97. 110. 127. 102.  93. 103.  78.
 111. 114.  77.  98. 365. 146. 109.  59. 108. 289. 130.  85. 119. 159.
 183. 117. 303.  96. 124. 163. 123. 122. 156. 155.   0. 319. 104. 223.
 105. 128. 217. 129. 170. 218. 367. 253. 132. 328. 126. 193. 133. 153.
 118. 121. 233. 143. 229. 134. 256. 180. 106. 202. 120. 136. 148. 204.
 245. 135. 164. 248. 150. 160. 147. 139. 189. 195. 187. 269. 179. 174.
 161. 225. 314. 158. 141. 167. 353. 354. 284. 258. 234. 194. 264. 145.
 239. 238. 144. 235. 369. 257. 227. 184. 296. 317. 240. 213. 169. 199.
 222. 230. 274. 181. 197. 237. 252. 309. 339. 262. 366. 177. 241. 175.
 304. 186. 178. 176. 172. 200. 216. 182. 205. 228. 336. 445. 242. 299.
 151. 203. 185. 268. 214. 286. 322. 198. 449. 165. 190. 297. 209. 342.
 375. 371. 171.]
replace na with 7.599356199244931

ARBEIT float64
count    794005.000000
mean          3.167854
std           1.002376
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: ARBEIT, dtype: float64
NaN percent	 10.91%
[nan  3.  2.  4.  1.  5.  9.]
replace na with 3.1678541067121744

BALLRAUM float64
count    797481.000000
mean          4.153043
std           2.183710
min           1.000000
25%           2.000000
50%           5.000000
75%           6.000000
max           7.000000
Name: BALLRAUM, dtype: float64
NaN percent	 10.52%
[nan  6.  2.  4.  3.  7.  1.  5.]
replace na with 4.153043144601564

CJT_GESAMTTYP float64
count    886367.000000
mean          3.632838
std           1.595021
min           1.000000
25%           2.000000
50%           4.000000
75%           5.000000
max           6.000000
Name: CJT_GESAMTTYP, dtype: float64
NaN percent	 0.54%
[ 2.  5.  3.  4.  1.  6. nan]
replace na with 3.6328383164084403

CJT_KATALOGNUTZER float64
count    886367.000000
mean          3.335264
std           1.493633
min           1.000000
25%           2.000000
50%           4.000000
75%           5.000000
max           5.000000
Name: CJT_KATALOGNUTZER, dtype: float64
NaN percent	 0.54%
[ 5.  1.  2.  3.  4. nan]
replace na with 3.3352640610492044

CJT_TYP_1 float64
count    886367.000000
mean          3.368086
std           1.368331
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_1, dtype: float64
NaN percent	 0.54%
[ 1.  5.  4.  2.  3. nan]
replace na with 3.3680856800851116

CJT_TYP_2 float64
count    886367.000000
mean          3.195014
std           1.401382
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_2, dtype: float64
NaN percent	 0.54%
[ 1.  5.  4.  2.  3. nan]
replace na with 3.19501402917753

CJT_TYP_3 float64
count    886367.000000
mean          3.351290
std           1.396508
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_3, dtype: float64
NaN percent	 0.54%
[ 5.  2.  1.  4.  3. nan]
replace na with 3.3512901540783897

CJT_TYP_4 float64
count    886367.000000
mean          3.336151
std           1.373077
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_4, dtype: float64
NaN percent	 0.54%
[ 5.  3.  4.  1.  2. nan]
replace na with 3.336150826914811

CJT_TYP_5 float64
count    886367.000000
mean          3.360684
std           1.378992
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_5, dtype: float64
NaN percent	 0.54%
[ 5.  1.  2.  3.  4. nan]
replace na with 3.360683554329076

CJT_TYP_6 float64
count    886367.000000
mean          3.465980
std           1.328456
min           1.000000
25%           2.000000
50%           4.000000
75%           5.000000
max           5.000000
Name: CJT_TYP_6, dtype: float64
NaN percent	 0.54%
[ 5.  1.  2.  3.  4. nan]
replace na with 3.4659796675643384

D19_BANKEN_ONLINE_QUOTE_12 float64
count    634108.000000
mean          0.705221
std           2.552707
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: D19_BANKEN_ONLINE_QUOTE_12, dtype: float64
NaN percent	 28.85%
[nan  0. 10.  8.  5.  9.  7.  6.  3.  4.  2.  1.]
replace na with 0.7052205617970441

D19_GESAMT_ONLINE_QUOTE_12 float64
count    634108.000000
mean          3.560952
std           4.658538
min           0.000000
25%           0.000000
50%           0.000000
75%          10.000000
max          10.000000
Name: D19_GESAMT_ONLINE_QUOTE_12, dtype: float64
NaN percent	 28.85%
[nan  0. 10.  7.  9.  5.  8.  6.  3.  4.  2.  1.]
replace na with 3.5609517621603892

D19_KONSUMTYP float64
count    634108.000000
mean          5.424540
std           3.234275
min           1.000000
25%           2.000000
50%           5.000000
75%           9.000000
max           9.000000
Name: D19_KONSUMTYP, dtype: float64
NaN percent	 28.85%
[nan  9.  1.  4.  3.  6.  5.  2.]
replace na with 5.424539668321485

D19_SOZIALES float64
count    634108.000000
mean          0.657908
std           1.457774
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           5.000000
Name: D19_SOZIALES, dtype: float64
NaN percent	 28.85%
[nan  0.  4.  5.  3.  1.  2.]
replace na with 0.6579084320021195

D19_VERSAND_ONLINE_QUOTE_12 float64
count    634108.000000
mean          3.244432
std           4.586604
min           0.000000
25%           0.000000
50%           0.000000
75%          10.000000
max          10.000000
Name: D19_VERSAND_ONLINE_QUOTE_12, dtype: float64
NaN percent	 28.85%
[nan  0. 10.  7.  5.  9.  3.  8.  6.  4.  2.  1.]
replace na with 3.244431547938206

EINGEZOGENAM_HH_JAHR float64
count    817722.000000
mean       2003.729061
std           7.058204
min        1900.000000
25%        1997.000000
50%        2003.000000
75%        2010.000000
max        2018.000000
Name: EINGEZOGENAM_HH_JAHR, dtype: float64
NaN percent	 8.25%
[  nan 2004. 2000. 1998. 1994. 2005. 2007. 2009. 2016. 2014. 2015. 2013.
 2008. 2010. 2001. 2002. 1997. 2012. 1992. 1999. 1996. 1995. 2011. 2003.
 2006. 1991. 2017. 1993. 2018. 1989. 1990. 1987. 1986. 1988. 1900. 1904.
 1971. 1984.]
replace na with 2003.7290607321315

EWDICHTE float64
count    797481.000000
mean          3.939172
std           1.718996
min           1.000000
25%           2.000000
50%           4.000000
75%           6.000000
max           6.000000
Name: EWDICHTE, dtype: float64
NaN percent	 10.52%
[nan  3.  4.  2.  5.  6.  1.]
replace na with 3.9391722185230744

FIRMENDICHTE float64
count    798066.000000
mean          3.456029
std           1.153415
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: FIRMENDICHTE, dtype: float64
NaN percent	 10.45%
[nan  2.  4.  5.  3.  1.]
replace na with 3.456028699380753

GEBAEUDETYP float64
count    798073.000000
mean          2.798641
std           2.656713
min           1.000000
25%           1.000000
50%           1.000000
75%           3.000000
max           8.000000
Name: GEBAEUDETYP, dtype: float64
NaN percent	 10.45%
[nan  8.  1.  3.  2.  6.  4.  5.]
replace na with 2.79864122705567

GEBAEUDETYP_RASTER float64
count    798066.000000
mean          3.738306
std           0.923193
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: GEBAEUDETYP_RASTER, dtype: float64
NaN percent	 10.45%
[nan  3.  4.  5.  1.  2.]
replace na with 3.738306105008859

GEMEINDETYP float64
count    793947.000000
mean         24.186748
std          12.037852
min          11.000000
25%          12.000000
50%          22.000000
75%          30.000000
max          50.000000
Name: GEMEINDETYP, dtype: float64
NaN percent	 10.91%
[nan 22. 40. 21. 12. 30. 11. 50.]
replace na with 24.186747981918188

GFK_URLAUBERTYP float64
count    886367.000000
mean          7.350304
std           3.525723
min           1.000000
25%           5.000000
50%           8.000000
75%          10.000000
max          12.000000
Name: GFK_URLAUBERTYP, dtype: float64
NaN percent	 0.54%
[10.  1.  5. 12.  9.  3.  8. 11.  4.  2.  7.  6. nan]
replace na with 7.350304106538262

HH_EINKOMMEN_SCORE float64
count    872873.000000
mean          4.207243
std           1.624057
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           6.000000
Name: HH_EINKOMMEN_SCORE, dtype: float64
NaN percent	 2.06%
[ 2.  6.  4.  1.  5.  3. nan]
replace na with 4.207243207201964

INNENSTADT float64
count    797481.000000
mean          4.549491
std           2.028919
min           1.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           8.000000
Name: INNENSTADT, dtype: float64
NaN percent	 10.52%
[nan  8.  4.  6.  1.  7.  3.  2.  5.]
replace na with 4.549491461238575

KBA05_ALTER1 float64
count    757897.000000
mean          2.071317
std           1.532120
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_ALTER1, dtype: float64
NaN percent	 14.96%
[nan  3.  2.  0.  1.  4.  9.]
replace na with 2.0713170787059454

KBA05_ALTER2 float64
count    757897.000000
mean          3.149416
std           1.338676
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ALTER2, dtype: float64
NaN percent	 14.96%
[nan  4.  3.  5.  2.  9.  1.]
replace na with 3.1494160816047563

KBA05_ALTER3 float64
count    757897.000000
mean          3.112196
std           1.349705
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ALTER3, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  2.  5.  9.]
replace na with 3.1121959844147686

KBA05_ALTER4 float64
count    757897.000000
mean          2.919489
std           1.500372
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ALTER4, dtype: float64
NaN percent	 14.96%
[nan  4.  3.  0.  5.  2.  1.  9.]
replace na with 2.9194890598590573

KBA05_ANHANG float64
count    757897.000000
mean          1.106609
std           1.427606
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           9.000000
Name: KBA05_ANHANG, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  2.  3.  9.]
replace na with 1.1066094733189338

KBA05_ANTG1 float64
count    757897.000000
mean          1.494277
std           1.403961
min           0.000000
25%           0.000000
50%           1.000000
75%           3.000000
max           4.000000
Name: KBA05_ANTG1, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  4.  2.  3.]
replace na with 1.4942769268119547

KBA05_ANTG2 float64
count    757897.000000
mean          1.265584
std           1.245178
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           4.000000
Name: KBA05_ANTG2, dtype: float64
NaN percent	 14.96%
[nan  0.  3.  1.  4.  2.]
replace na with 1.265583581937915

KBA05_ANTG3 float64
count    757897.000000
mean          0.624525
std           1.013443
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           3.000000
Name: KBA05_ANTG3, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  2.  3.]
replace na with 0.6245254962085877

KBA05_ANTG4 float64
count    757897.000000
mean          0.305927
std           0.638725
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           2.000000
Name: KBA05_ANTG4, dtype: float64
NaN percent	 14.96%
[nan  2.  0.  1.]
replace na with 0.3059267948019322

KBA05_AUTOQUOT float64
count    757897.000000
mean          3.207994
std           1.400238
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_AUTOQUOT, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  2.  5.  9.]
replace na with 3.2079939622402516

KBA05_BAUMAX float64
count    757897.000000
mean          1.389552
std           1.779483
min           0.000000
25%           0.000000
50%           1.000000
75%           3.000000
max           5.000000
Name: KBA05_BAUMAX, dtype: float64
NaN percent	 14.96%
[nan  5.  0.  1.  2.  3.  4.]
replace na with 1.3895516145333733

KBA05_CCM1 float64
count    757897.000000
mean          3.082453
std           1.349763
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_CCM1, dtype: float64
NaN percent	 14.96%
[nan  1.  5.  2.  4.  3.  9.]
replace na with 3.0824531565634907

KBA05_CCM2 float64
count    757897.000000
mean          3.115361
std           1.323141
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_CCM2, dtype: float64
NaN percent	 14.96%
[nan  5.  2.  3.  1.  4.  9.]
replace na with 3.1153613221849406

KBA05_CCM3 float64
count    757897.000000
mean          3.144479
std           1.351333
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_CCM3, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  5.  4.  2.  9.]
replace na with 3.14447873523711

KBA05_CCM4 float64
count    757897.000000
mean          1.358658
std           1.621032
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_CCM4, dtype: float64
NaN percent	 14.96%
[nan  4.  0.  1.  2.  3.  9.]
replace na with 1.3586582345622162

KBA05_DIESEL float64
count    757897.000000
mean          2.147870
std           1.427566
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_DIESEL, dtype: float64
NaN percent	 14.96%
[nan  2.  0.  3.  1.  4.  9.]
replace na with 2.1478696973335425

KBA05_FRAU float64
count    757897.000000
mean          3.110023
std           1.349794
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_FRAU, dtype: float64
NaN percent	 14.96%
[nan  4.  3.  5.  2.  1.  9.]
replace na with 3.110022865903942

KBA05_GBZ float64
count    757897.000000
mean          3.158580
std           1.329537
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA05_GBZ, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  5.  2.]
replace na with 3.1585795959081513

KBA05_HERST1 float64
count    757897.000000
mean          2.476347
std           1.635226
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_HERST1, dtype: float64
NaN percent	 14.96%
[nan  5.  2.  4.  3.  0.  1.  9.]
replace na with 2.476347049797004

KBA05_HERST2 float64
count    757897.000000
mean          3.103159
std           1.316661
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_HERST2, dtype: float64
NaN percent	 14.96%
[nan  5.  2.  3.  4.  9.  1.]
replace na with 3.103159136399801

KBA05_HERST3 float64
count    757897.000000
mean          3.035828
std           1.394468
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_HERST3, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  4.  1.  0.  5.  9.]
replace na with 3.0358280874577943

KBA05_HERST4 float64
count    757897.000000
mean          2.955032
std           1.496686
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_HERST4, dtype: float64
NaN percent	 14.96%
[nan  2.  1.  3.  4.  0.  5.  9.]
replace na with 2.955032148167891

KBA05_HERST5 float64
count    757897.000000
mean          2.923587
std           1.539973
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_HERST5, dtype: float64
NaN percent	 14.96%
[nan  0.  5.  3.  4.  2.  1.  9.]
replace na with 2.9235872420658744

KBA05_HERSTTEMP float64
count    798073.000000
mean          2.836532
std           1.491578
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_HERSTTEMP, dtype: float64
NaN percent	 10.45%
[nan  4.  3.  1.  2.  5.  9.]
replace na with 2.8365324976537236

KBA05_KRSAQUOT float64
count    757897.000000
mean          3.097802
std           1.396567
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KRSAQUOT, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  2.  5.  9.]
replace na with 3.09780220795174

KBA05_KRSHERST1 float64
count    757897.000000
mean          3.049426
std           1.308095
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KRSHERST1, dtype: float64
NaN percent	 14.96%
[nan  5.  3.  4.  2.  1.  9.]
replace na with 3.0494262412966404

KBA05_KRSHERST2 float64
count    757897.000000
mean          3.078738
std           1.345043
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KRSHERST2, dtype: float64
NaN percent	 14.96%
[nan  4.  2.  3.  5.  1.  9.]
replace na with 3.0787376121029637

KBA05_KRSHERST3 float64
count    757897.000000
mean          3.153802
std           1.362345
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KRSHERST3, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  1.  4.  5.  9.]
replace na with 3.1538019018415433

KBA05_KRSKLEIN float64
count    757897.000000
mean          2.127912
std           1.159441
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: KBA05_KRSKLEIN, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  2.  9.]
replace na with 2.1279118402632546

KBA05_KRSOBER float64
count    757897.000000
mean          2.102949
std           1.145852
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: KBA05_KRSOBER, dtype: float64
NaN percent	 14.96%
[nan  2.  1.  3.  9.]
replace na with 2.1029493453595935

KBA05_KRSVAN float64
count    757897.000000
mean          2.135488
std           1.126434
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: KBA05_KRSVAN, dtype: float64
NaN percent	 14.96%
[nan  1.  2.  3.  9.]
replace na with 2.135488067639798

KBA05_KRSZUL float64
count    757897.000000
mean          2.065225
std           1.196110
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           9.000000
Name: KBA05_KRSZUL, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  1.  9.]
replace na with 2.065225221896907

KBA05_KW1 float64
count    757897.000000
mean          3.093550
std           1.376706
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KW1, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  2.  5.  9.]
replace na with 3.093549651205903

KBA05_KW2 float64
count    757897.000000
mean          3.113674
std           1.333745
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_KW2, dtype: float64
NaN percent	 14.96%
[nan  3.  2.  4.  5.  1.  9.]
replace na with 3.113673757779751

KBA05_KW3 float64
count    757897.000000
mean          1.551242
std           1.607973
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_KW3, dtype: float64

NaN percent	 14.96%
[nan  4.  2.  1.  3.  0.  9.]
replace na with 1.551242451151014

KBA05_MAXAH float64
count    757897.000000
mean          3.386927
std           1.493682
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           9.000000
Name: KBA05_MAXAH, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  5.  1.  4.  9.]
replace na with 3.3869272473700254

KBA05_MAXBJ float64
count    757897.000000
mean          2.444595
std           1.496391
min           1.000000
25%           1.000000
50%           2.000000
75%           4.000000
max           9.000000
Name: KBA05_MAXBJ, dtype: float64
NaN percent	 14.96%
[nan  1.  4.  2.  3.  9.]
replace na with 2.444594714057451

KBA05_MAXHERST float64
count    757897.000000
mean          2.869010
std           1.403278
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_MAXHERST, dtype: float64
NaN percent	 14.96%
[nan  2.  5.  3.  1.  4.  9.]
replace na with 2.8690099050398667

KBA05_MAXSEG float64
count    757897.000000
mean          2.278277
std           1.318311
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_MAXSEG, dtype: float64
NaN percent	 14.96%
[nan  4.  1.  2.  3.  9.]
replace na with 2.2782765995907095

KBA05_MAXVORB float64
count    757897.000000
mean          2.218266
std           1.209227
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_MAXVORB, dtype: float64
NaN percent	 14.96%
[nan  3.  1.  2.  9.]
replace na with 2.2182658065673833

KBA05_MOD1 float64
count    757897.000000
mean          1.437354
std           1.643943
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_MOD1, dtype: float64
NaN percent	 14.96%
[nan  3.  0.  2.  1.  4.  9.]
replace na with 1.4373536245690377

KBA05_MOD2 float64
count    757897.000000
mean          3.091425
std           1.328794
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_MOD2, dtype: float64
NaN percent	 14.96%
[nan  2.  4.  1.  3.  5.  9.]
replace na with 3.0914253519937405

KBA05_MOD3 float64
count    757897.000000
mean          3.096057
std           1.350524
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_MOD3, dtype: float64
NaN percent	 14.96%
[nan  2.  5.  4.  1.  3.  9.]
replace na with 3.096056588164355

KBA05_MOD4 float64
count    757897.000000
mean          2.832567
std           1.612727
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_MOD4, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  2.  4.  5.  3.  9.]
replace na with 2.8325669583069994

KBA05_MOD8 float64
count    757897.000000
mean          1.379413
std           1.464159
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_MOD8, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  2.  3.  9.]
replace na with 1.379413033697191

KBA05_MODTEMP float64
count    798073.000000
mean          3.006467
std           1.255616
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           6.000000
Name: KBA05_MODTEMP, dtype: float64
NaN percent	 10.45%
[nan  1.  4.  3.  5.  2.  6.]
replace na with 3.0064668269694628

KBA05_MOTOR float64
count    757897.000000
mean          2.649657
std           1.287217
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           9.000000
Name: KBA05_MOTOR, dtype: float64
NaN percent	 14.96%
[nan  3.  1.  4.  2.  9.]
replace na with 2.6496568794968183

KBA05_MOTRAD float64
count    757897.000000
mean          1.163318
std           1.359159
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           9.000000
Name: KBA05_MOTRAD, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  3.  2.  9.]
replace na with 1.1633177067596256

KBA05_SEG1 float64
count    757897.000000
mean          1.233541
std           1.441903
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_SEG1, dtype: float64
NaN percent	 14.96%
[nan  0.  2.  1.  3.  9.]
replace na with 1.2335409692873833

KBA05_SEG10 float64
count    757897.000000
mean          2.005177
std           1.508828
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_SEG10, dtype: float64
NaN percent	 14.96%
[nan  4.  1.  3.  2.  0.  9.]
replace na with 2.005177484539456

KBA05_SEG2 float64
count    757897.000000
mean          3.098730
std           1.332421
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_SEG2, dtype: float64
NaN percent	 14.96%
[nan  1.  5.  2.  4.  3.  9.]
replace na with 3.0987297746263676

KBA05_SEG3 float64
count    757897.000000
mean          3.086683
std           1.343910
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_SEG3, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  5.  1.  4.  9.]
replace na with 3.086683282820753

KBA05_SEG4 float64
count    757897.000000
mean          3.104275
std           1.317709
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_SEG4, dtype: float64
NaN percent	 14.96%
[nan  2.  3.  4.  1.  5.  9.]
replace na with 3.1042753830665646

KBA05_SEG5 float64
count    757897.000000
mean          1.597992
std           1.567611
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_SEG5, dtype: float64
NaN percent	 14.96%
[nan  2.  1.  0.  3.  4.  9.]
replace na with 1.5979915476641284

KBA05_SEG6 float64
count    757897.000000
mean          0.292329
std           1.269465
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           9.000000
Name: KBA05_SEG6, dtype: float64
NaN percent	 14.96%
[nan  1.  0.  9.]
replace na with 0.29232864096308603

KBA05_SEG7 float64
count    757897.000000
mean          0.988600
std           1.477921
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_SEG7, dtype: float64
NaN percent	 14.96%
[nan  3.  0.  1.  2.  9.]
replace na with 0.988600034041565

KBA05_SEG8 float64
count    757897.000000
mean          0.901281
std           1.472815
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           9.000000
Name: KBA05_SEG8, dtype: float64
NaN percent	 14.96%
[nan  3.  0.  1.  2.  9.]
replace na with 0.9012807808976682

KBA05_SEG9 float64
count    757897.000000
mean          1.213546
std           1.445609
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max           9.000000
Name: KBA05_SEG9, dtype: float64
NaN percent	 14.96%
[nan  0.  1.  2.  3.  9.]
replace na with 1.2135461678829709

KBA05_VORB0 float64
count    757897.000000
mean          2.970043
std           1.417498
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_VORB0, dtype: float64
NaN percent	 14.96%
[nan  1.  4.  2.  5.  3.  9.]
replace na with 2.9700434227870014

KBA05_VORB1 float64
count    757897.000000
mean          3.111915
std           1.333840
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_VORB1, dtype: float64
NaN percent	 14.96%
[nan  1.  2.  5.  3.  4.  9.]
replace na with 3.1119149435873212

KBA05_VORB2 float64
count    757897.000000
mean          2.858849
std           1.616102
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_VORB2, dtype: float64
NaN percent	 14.96%
[nan  5.  3.  1.  4.  2.  0.  9.]
replace na with 2.858848893715109

KBA05_ZUL1 float64
count    757897.000000
mean          3.101210
std           1.336639
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ZUL1, dtype: float64
NaN percent	 14.96%
[nan  5.  2.  3.  4.  1.  9.]
replace na with 3.1012103227747305

KBA05_ZUL2 float64
count    757897.000000
mean          3.105024
std           1.341038
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ZUL2, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  2.  5.  9.]
replace na with 3.1050235058325866

KBA05_ZUL3 float64
count    757897.000000
mean          2.782602
std           1.614416
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           9.000000
Name: KBA05_ZUL3, dtype: float64
NaN percent	 14.96%
[nan  0.  4.  3.  2.  1.  5.  9.]
replace na with 2.782602385284544

KBA05_ZUL4 float64
count    757897.000000
mean          2.270413
std           1.733541
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: KBA05_ZUL4, dtype: float64
NaN percent	 14.96%
[nan  2.  4.  3.  5.  1.  0.  9.]
replace na with 2.2704127341841964

KBA13_ALTERHALTER_30 float64
count    785421.000000
mean          2.978739
std           1.061121
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_ALTERHALTER_30, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9787387910432748

KBA13_ALTERHALTER_45 float64
count    785421.000000
mean          3.084179
std           1.114805
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_ALTERHALTER_45, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  1.  5.]
replace na with 3.0841790581102364

KBA13_ALTERHALTER_60 float64
count    785421.000000
mean          2.818780
std           1.054657
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_ALTERHALTER_60, dtype: float64
NaN percent	 11.87%
[nan  3.  5.  2.  4.  1.]
replace na with 2.818779991876968

KBA13_ALTERHALTER_61 float64
count    785421.000000
mean          3.119899
std           1.065411
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_ALTERHALTER_61, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  5.  1.]
replace na with 3.1198987549352513

KBA13_ANTG1 float64
count    785421.000000
mean          2.150965
std           0.921052
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           4.000000
Name: KBA13_ANTG1, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  4.  3.  0.]
replace na with 2.1509648965331967

KBA13_ANTG2 float64
count    785421.000000
mean          2.777878
std           0.932685
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: KBA13_ANTG2, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  1.  0.]
replace na with 2.7778783607772137

KBA13_ANTG3 float64
count    785421.000000
mean          1.604806
std           1.017783
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: KBA13_ANTG3, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  0.  3.]
replace na with 1.6048055756084953

KBA13_ANTG4 float64
count    785421.000000
mean          0.676414
std           0.735776
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: KBA13_ANTG4, dtype: float64
NaN percent	 11.87%
[nan  1.  0.  2.]
replace na with 0.6764143051942844

KBA13_ANZAHL_PKW float64
count    785421.000000
mean        619.701439
std         340.034318
min           0.000000
25%         384.000000
50%         549.000000
75%         778.000000
max        2300.000000
Name: KBA13_ANZAHL_PKW, dtype: float64
NaN percent	 11.87%
[ nan 963. 712. ...   2.  30.   7.]
replace na with 619.7014391008134

KBA13_AUDI float64
count    785421.000000
mean          3.005443
std           1.003598
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_AUDI, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  5.  2.  1.]
replace na with 3.005442940792263

KBA13_AUTOQUOTE float64
count    785421.000000
mean          2.782243
std           1.049191
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_AUTOQUOTE, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  5.  1.  0.]
replace na with 2.7822428990312202

KBA13_BAUMAX float64
count    785421.000000
mean          2.019615
std           1.510167
min           1.000000
25%           1.000000
50%           1.000000
75%           3.000000
max           5.000000
Name: KBA13_BAUMAX, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  4.  5.  3.]
replace na with 2.019614958092539

KBA13_BJ_1999 float64
count    785421.000000
mean          2.987050
std           0.962333
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_BJ_1999, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  1.  5.]
replace na with 2.98705025712325

KBA13_BJ_2000 float64
count    785421.000000
mean          2.990920
std           0.997081
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_BJ_2000, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9909195195952236

KBA13_BJ_2004 float64
count    785421.000000
mean          2.982818
std           0.950731
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_BJ_2004, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  1.  5.]
replace na with 2.982818131931792

KBA13_BJ_2006 float64
count    785421.000000
mean          2.983200
std           0.964752
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_BJ_2006, dtype: float64
NaN percent	 11.87%
[nan  3.  5.  2.  4.  1.]
replace na with 2.983200092689144

KBA13_BJ_2008 float64
count    785421.000000
mean          2.430025
std           1.466413
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_BJ_2008, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  0.  2.  5.  1.]
replace na with 2.4300254258544145

KBA13_BJ_2009 float64
count    785421.000000
mean          2.453592
std           1.448965
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_BJ_2009, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  3.  5.  0.  4.]
replace na with 2.45359240458302

KBA13_BMW float64
count    785421.000000
mean          3.159222
std           1.000801
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_BMW, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  5.  1.]
replace na with 3.159221614904618

KBA13_CCM_0_1400 float64
count    785421.000000
mean          2.342429
std           1.445697
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_0_1400, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  3.  5.  0.  4.]
replace na with 2.342429092168404

KBA13_CCM_1000 float64
count    785421.000000
mean          2.426497
std           1.436357
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_1000, dtype: float64
NaN percent	 11.87%
[nan  0.  1.  4.  5.  3.  2.]
replace na with 2.4264973816590083

KBA13_CCM_1200 float64
count    785421.000000
mean          2.329706
std           1.459578
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_1200, dtype: float64
NaN percent	 11.87%
[nan  0.  2.  1.  4.  5.  3.]

replace na with 2.329705979341016

KBA13_CCM_1400 float64
count    785421.000000
mean          3.005170
std           0.942756
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_CCM_1400, dtype: float64
NaN percent	 11.87%
[nan  4.  2.  3.  1.  5.]
replace na with 3.0051704754520188

KBA13_CCM_1401_2500 float64
count    785421.000000
mean          2.910121
std           0.945072
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_1401_2500, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9101208141875503

KBA13_CCM_1500 float64
count    785421.000000
mean          2.619311
std           1.419685
min           1.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_CCM_1500, dtype: float64
NaN percent	 11.87%
[nan  1.  4.  3.  5.  2.]
replace na with 2.6193111719701916

KBA13_CCM_1600 float64
count    785421.000000
mean          3.029111
std           0.938871
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_CCM_1600, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  1.  4.  5.]
replace na with 3.0291105025203042

KBA13_CCM_1800 float64
count    785421.000000
mean          2.364001
std           1.436662
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_1800, dtype: float64
NaN percent	 11.87%
[nan  2.  4.  3.  5.  1.  0.]
replace na with 2.3640009625411085

KBA13_CCM_2000 float64
count    785421.000000
mean          3.071686
std           0.938193
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_CCM_2000, dtype: float64
NaN percent	 11.87%
[nan  5.  3.  4.  2.  1.]
replace na with 3.0716863949397837

KBA13_CCM_2500 float64
count    785421.000000
mean          2.482918
std           1.414943
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_2500, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  0.  5.  2.  1.]
replace na with 2.482918078329966

KBA13_CCM_2501 float64
count    785421.000000
mean          2.512178
std           1.449423
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_2501, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  0.  2.  1.]
replace na with 2.5121775455456374

KBA13_CCM_3000 float64
count    785421.000000
mean          2.583847
std           1.368104
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_CCM_3000, dtype: float64
NaN percent	 11.87%
[nan  0.  3.  5.  2.  1.  4.]
replace na with 2.5838473888526026

KBA13_CCM_3001 float64
count    785421.000000
mean          2.625875
std           1.511502
min           1.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_CCM_3001, dtype: float64
NaN percent	 11.87%
[nan  5.  4.  1.  3.  2.]
replace na with 2.62587453098402

KBA13_FAB_ASIEN float64
count    785421.000000
mean          2.974637
std           1.017911
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_FAB_ASIEN, dtype: float64
NaN percent	 11.87%
[nan  2.  4.  3.  1.  5.]
replace na with 2.9746365325093165

KBA13_FAB_SONSTIGE float64
count    785421.000000
mean          2.988924
std           1.008135
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_FAB_SONSTIGE, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9889244112393225

KBA13_FIAT float64
count    785421.000000
mean          3.128779
std           1.001766
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_FIAT, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  5.  2.  1.]
replace na with 3.1287793425436803

KBA13_FORD float64
count    785421.000000
mean          3.004055
std           1.040267
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_FORD, dtype: float64
NaN percent	 11.87%
[nan  2.  4.  3.  1.  5.]
replace na with 3.0040551500405517

KBA13_GBZ float64
count    785421.000000
mean          3.419656
std           1.119775
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_GBZ, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  5.  2.  1.]
replace na with 3.419656464494838

KBA13_HALTER_20 float64
count    785421.000000
mean          2.909913
std           1.001968
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_HALTER_20, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  5.  1.]
replace na with 2.909913282176056

KBA13_HALTER_25 float64
count    785421.000000
mean          2.945092
std           1.036591
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_25, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9450918679281557

KBA13_HALTER_30 float64
count    785421.000000
mean          3.056838
std           1.089204
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_30, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 3.0568383070989955

KBA13_HALTER_35 float64
count    785421.000000
mean          3.104942
std           1.105378
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_35, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 3.10494244487988

KBA13_HALTER_40 float64
count    785421.000000
mean          3.089957
std           1.097062
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_40, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 3.0899568511664444

KBA13_HALTER_45 float64
count    785421.000000
mean          3.027353
std           1.078913
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_45, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  5.  1.  4.]
replace na with 3.027353483036486

KBA13_HALTER_50 float64
count    785421.000000
mean          2.844840
std           1.053112
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_HALTER_50, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  5.  4.  1.]
replace na with 2.844839901148556

KBA13_HALTER_55 float64
count    785421.000000
mean          2.840152
std           1.062277
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_HALTER_55, dtype: float64
NaN percent	 11.87%
[nan  3.  5.  4.  2.  1.]
replace na with 2.840151969453325

KBA13_HALTER_60 float64
count    785421.000000
mean          2.889783
std           1.073687
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_60, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  5.  1.]
replace na with 2.889782677061092

KBA13_HALTER_65 float64
count    785421.000000
mean          3.126904
std           1.044822
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_65, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.]
replace na with 3.1269039152250833

KBA13_HALTER_66 float64
count    785421.000000
mean          3.103431
std           1.075110
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HALTER_66, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  5.  1.]
replace na with 3.103431153483291

KBA13_HERST_ASIEN float64
count    785421.000000
mean          3.004371
std           1.031193
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_ASIEN, dtype: float64
NaN percent	 11.87%
[nan  1.  3.  4.  2.  5.]
replace na with 3.004370904266629

KBA13_HERST_AUDI_VW float64
count    785421.000000
mean          2.924983
std           1.026814
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_AUDI_VW, dtype: float64
NaN percent	 11.87%
[nan  4.  2.  3.  5.  1.]
replace na with 2.9249829072561084

KBA13_HERST_BMW_BENZ float64
count    785421.000000
mean          3.165170
std           1.022937
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_BMW_BENZ, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  5.  2.  1.]
replace na with 3.16517001709911

KBA13_HERST_EUROPA float64
count    785421.000000
mean          3.083781
std           1.013485
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_EUROPA, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  5.  1.]
replace na with 3.083780545720066

KBA13_HERST_FORD_OPEL float64
count    785421.000000
mean          2.966992
std           1.058178
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_FORD_OPEL, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  1.  4.  5.]
replace na with 2.966992224552183

KBA13_HERST_SONST float64
count    785421.000000
mean          2.988924
std           1.008135
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HERST_SONST, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.9889244112393225

KBA13_HHZ float64
count    785421.000000
mean          3.573068
std           0.978024
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_HHZ, dtype: float64
NaN percent	 11.87%
[nan  5.  4.  3.  2.  1.]
replace na with 3.573068456280135

KBA13_KMH_0_140 float64
count    785421.000000
mean          2.329369
std           1.529004
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KMH_0_140, dtype: float64
NaN percent	 11.87%
[nan  3.  1.  5.  0.  4.  2.]
replace na with 2.3293685806720217

KBA13_KMH_110 float64
count    785421.000000
mean          1.320813
std           0.676535
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           3.000000
Name: KBA13_KMH_110, dtype: float64
NaN percent	 11.87%
[nan  1.  2.  3.]
replace na with 1.3208126597073417

KBA13_KMH_140 float64
count    785421.000000
mean          2.694810
std           1.390453
min           1.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KMH_140, dtype: float64
NaN percent	 11.87%
[nan  3.  1.  5.  2.  4.]
replace na with 2.6948095352683463

KBA13_KMH_140_210 float64
count    785421.000000
mean          2.849393
std           0.971055
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KMH_140_210, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.8493928733761895

KBA13_KMH_180 float64
count    785421.000000
mean          2.932968
std           0.970028
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KMH_180, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  3.  4.  5.]
replace na with 2.93296843348981

KBA13_KMH_210 float64
count    785421.000000
mean          3.037302
std           0.955909
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KMH_210, dtype: float64
NaN percent	 11.87%
[nan  4.  2.  3.  5.  1.]
replace na with 3.0373022875629756

KBA13_KMH_211 float64
count    785421.000000
mean          2.457977
std           1.491628
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KMH_211, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.  0.]
replace na with 2.4579773140774184

KBA13_KMH_250 float64
count    785421.000000
mean          2.455954
std           1.490854
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KMH_250, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.  0.]
replace na with 2.4559541952659782

KBA13_KMH_251 float64
count    785421.000000
mean          1.268960
std           0.672798
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           3.000000
Name: KBA13_KMH_251, dtype: float64
NaN percent	 11.87%
[nan  1.  3.  2.]
replace na with 1.2689602136943117

KBA13_KRSAQUOT float64
count    785421.000000
mean          2.866368
std           1.062772
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KRSAQUOT, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  1.  5.  0.]
replace na with 2.866368482635427

KBA13_KRSHERST_AUDI_VW float64
count    785421.000000
mean          2.959944
std           1.011523
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KRSHERST_AUDI_VW, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  1.  5.  0.]
replace na with 2.9599437753765176

KBA13_KRSHERST_BMW_BENZ float64
count    785421.000000
mean          3.083096
std           1.009635
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KRSHERST_BMW_BENZ, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.  0.]
replace na with 3.0830955627618817

KBA13_KRSHERST_FORD_OPEL float64
count    785421.000000
mean          3.008966
std           1.040945
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KRSHERST_FORD_OPEL, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  1.  5.  0.]
replace na with 3.008965892177571

KBA13_KRSSEG_OBER float64
count    785421.000000
mean          1.954656
std           0.584313
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: KBA13_KRSSEG_OBER, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  1.  0.]
replace na with 1.9546561652922445

KBA13_KRSSEG_VAN float64
count    785421.000000
mean          1.945301
std           0.615499
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: KBA13_KRSSEG_VAN, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  3.  0.]
replace na with 1.9453006731421747

KBA13_KRSZUL_NEU float64
count    785421.000000
mean          1.832946
std           0.781109
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: KBA13_KRSZUL_NEU, dtype: float64
NaN percent	 11.87%
[nan  1.  2.  3.  0.]
replace na with 1.8329456431646212

KBA13_KW_0_60 float64
count    785421.000000
mean          2.977747
std           0.968180
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KW_0_60, dtype: float64
NaN percent	 11.87%
[nan  3.  1.  2.  4.  5.]
replace na with 2.9777469662766847

KBA13_KW_110 float64
count    785421.000000
mean          2.404903
std           1.429198
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_110, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  1.  5.  0.  2.]
replace na with 2.4049025936408626

KBA13_KW_120 float64
count    785421.000000
mean          2.376123
std           1.505370
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_120, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  1.  5.  0.  2.]
replace na with 2.37612312377693

KBA13_KW_121 float64
count    785421.000000
mean          2.506342
std           1.437424
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_121, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  0.  1.]
replace na with 2.5063424583758263

KBA13_KW_30 float64
count    785421.000000
mean          1.404983
std           0.681106
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           3.000000
Name: KBA13_KW_30, dtype: float64
NaN percent	 11.87%
[nan  1.  2.  3.]
replace na with 1.4049828053999065

KBA13_KW_40 float64
count    785421.000000
mean          2.405066
std           1.412106
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_40, dtype: float64
NaN percent	 11.87%
[nan  2.  1.  4.  5.  0.  3.]
replace na with 2.4050655635639995

KBA13_KW_50 float64
count    785421.000000
mean          2.340691
std           1.441927
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_50, dtype: float64
NaN percent	 11.87%
[nan  4.  2.  3.  0.  1.  5.]
replace na with 2.340691170722453

KBA13_KW_60 float64
count    785421.000000
mean          2.291351
std           1.411954
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_60, dtype: float64
NaN percent	 11.87%
[nan  0.  1.  2.  3.  4.  5.]
replace na with 2.2913507532902737

KBA13_KW_61_120 float64
count    785421.000000
mean          2.996188
std           0.957387
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_KW_61_120, dtype: float64
NaN percent	 11.87%
[nan  3.  5.  2.  4.  1.]
replace na with 2.996188031641629

KBA13_KW_70 float64
count    785421.000000
mean          2.336341
std           1.430272
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_70, dtype: float64
NaN percent	 11.87%
[nan  1.  4.  3.  2.  0.  5.]
replace na with 2.3363406376962166

KBA13_KW_80 float64
count    785421.000000
mean          2.310013
std           1.410661
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_80, dtype: float64
NaN percent	 11.87%
[nan  2.  4.  1.  3.  0.  5.]
replace na with 2.310013355894482

KBA13_KW_90 float64
count    785421.000000
mean          2.382884
std           1.430076
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_KW_90, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  0.  4.  1.  5.]
replace na with 2.3828838291820564

KBA13_MAZDA float64
count    785421.000000
mean          3.085354
std           0.999931
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_MAZDA, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  5.  1.]
replace na with 3.0853542240403553

KBA13_MERCEDES float64
count    785421.000000
mean          3.144134
std           1.023847
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_MERCEDES, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  5.  2.  1.]
replace na with 3.1441341649892225

KBA13_MOTOR float64
count    785421.000000
mean          2.786029
std           0.768496
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: KBA13_MOTOR, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  1.]
replace na with 2.786029403339101

KBA13_NISSAN float64
count    785421.000000
mean          3.060305
std           1.018650
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_NISSAN, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  5.  4.  1.]
replace na with 3.060305237573225

KBA13_OPEL float64
count    785421.000000
mean          2.971935
std           1.054774
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_OPEL, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  1.  5.]
replace na with 2.971934796752315

KBA13_PEUGEOT float64
count    785421.000000
mean          3.071690
std           1.009349
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_PEUGEOT, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  1.  5.]
replace na with 3.0716902145473575

KBA13_RENAULT float64
count    785421.000000
mean          3.043498
std           1.023270
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_RENAULT, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  5.  1.]
replace na with 3.043497691047222

KBA13_SEG_GELAENDEWAGEN float64
count    785421.000000
mean          2.910411
std           1.001290
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_SEG_GELAENDEWAGEN, dtype: float64
NaN percent	 11.87%
[nan  2.  5.  3.  4.  1.]
replace na with 2.9104111043631375

KBA13_SEG_GROSSRAUMVANS float64
count    785421.000000
mean          3.076376
std           1.013363
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_GROSSRAUMVANS, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  1.  5.  2.]
replace na with 3.0763755998375393

KBA13_SEG_KLEINST float64
count    785421.000000
mean          2.989147
std           1.027775
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_KLEINST, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  5.  4.  1.]
replace na with 2.9891472216811112

KBA13_SEG_KLEINWAGEN float64
count    785421.000000
mean          2.945591
std           1.016326
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_KLEINWAGEN, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  1.  5.]
replace na with 2.945590963317762

KBA13_SEG_KOMPAKTKLASSE float64
count    785421.000000
mean          2.950019
std           1.017614
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_KOMPAKTKLASSE, dtype: float64
NaN percent	 11.87%
[nan  5.  1.  4.  3.  2.]
replace na with 2.950019161697994

KBA13_SEG_MINIVANS float64
count    785421.00000
mean          3.01906
std           1.01522
min           1.00000
25%           2.00000
50%           3.00000
75%           4.00000
max           5.00000
Name: KBA13_SEG_MINIVANS, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  1.  5.]
replace na with 3.0190598417918544

KBA13_SEG_MINIWAGEN float64
count    785421.000000
mean          3.117099
std           1.011775
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_MINIWAGEN, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  5.  4.  1.]
replace na with 3.1170989825838626

KBA13_SEG_MITTELKLASSE float64

count    785421.000000
mean          3.058855
std           1.026028
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_MITTELKLASSE, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  5.  1.]
replace na with 3.058855059897813

KBA13_SEG_OBEREMITTELKLASSE float64
count    785421.000000
mean          3.161382
std           1.009669
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_OBEREMITTELKLASSE, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.]
replace na with 3.1613822395887046

KBA13_SEG_OBERKLASSE float64
count    785421.000000
mean          2.496483
std           1.479816
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_SEG_OBERKLASSE, dtype: float64
NaN percent	 11.87%
[nan  3.  1.  4.  5.  0.  2.]
replace na with 2.4964827780260523

KBA13_SEG_SONSTIGE float64
count    785421.000000
mean          3.071439
std           0.963400
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_SONSTIGE, dtype: float64
NaN percent	 11.87%
[nan  2.  5.  3.  4.  1.]
replace na with 3.0714393936500297

KBA13_SEG_SPORTWAGEN float64
count    785421.000000
mean          2.566942
std           1.437284
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_SEG_SPORTWAGEN, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  1.  2.  0.]
replace na with 2.5669418057322124

KBA13_SEG_UTILITIES float64
count    785421.000000
mean          3.016091
std           0.998701
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_UTILITIES, dtype: float64
NaN percent	 11.87%
[nan  3.  5.  2.  4.  1.]
replace na with 3.0160907335047065

KBA13_SEG_VAN float64
count    785421.000000
mean          3.047092
std           1.011615
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SEG_VAN, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  1.  5.]
replace na with 3.047091941773902

KBA13_SEG_WOHNMOBILE float64
count    785421.000000
mean          2.538733
std           1.411366
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_SEG_WOHNMOBILE, dtype: float64
NaN percent	 11.87%
[nan  2.  5.  3.  4.  0.  1.]
replace na with 2.5387327305992584

KBA13_SITZE_4 float64
count    785421.000000
mean          3.170897
std           1.053637
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SITZE_4, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.]
replace na with 3.170896882054338

KBA13_SITZE_5 float64
count    785421.000000
mean          2.842810
std           1.056045
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_SITZE_5, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  1.  4.  5.]
replace na with 2.8428104163244936

KBA13_SITZE_6 float64
count    785421.000000
mean          3.071781
std           1.041083
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_SITZE_6, dtype: float64
NaN percent	 11.87%
[nan  4.  3.  2.  5.  1.]
replace na with 3.0717806119265973

KBA13_TOYOTA float64
count    785421.000000
mean          3.074966
std           1.007389
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_TOYOTA, dtype: float64
NaN percent	 11.87%
[nan  2.  3.  4.  5.  1.]
replace na with 3.074966164642911

KBA13_VORB_0 float64
count    785421.000000
mean          3.117557
std           0.975495
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_VORB_0, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  5.  2.  1.]
replace na with 3.117557335492685

KBA13_VORB_1 float64
count    785421.000000
mean          2.980660
std           0.957392
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_VORB_1, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  1.  5.]
replace na with 2.9806600536527545

KBA13_VORB_1_2 float64
count    785421.000000
mean          2.916887
std           0.961899
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_VORB_1_2, dtype: float64
NaN percent	 11.87%
[nan  3.  4.  2.  1.  5.]
replace na with 2.916886612402775

KBA13_VORB_2 float64
count    785421.000000
mean          3.011097
std           0.943805
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_VORB_2, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  1.  5.]
replace na with 3.011097233203594

KBA13_VORB_3 float64
count    785421.000000
mean          2.354173
std           1.469417
min           0.000000
25%           1.000000
50%           3.000000
75%           3.000000
max           5.000000
Name: KBA13_VORB_3, dtype: float64
NaN percent	 11.87%
[nan  3.  2.  4.  0.  1.  5.]
replace na with 2.354173112254447

KBA13_VW float64
count    785421.000000
mean          2.935193
std           1.028888
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: KBA13_VW, dtype: float64
NaN percent	 11.87%
[nan  4.  2.  3.  5.  1.]
replace na with 2.935192718300122

KKK float64
count    770025.000000
mean          2.592991
std           1.119052
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: KKK, dtype: float64
NaN percent	 13.60%
[nan  2.  0.  3.  4.  1.]
replace na with 2.5929911366514076

KONSUMNAEHE float64
count    817252.000000
mean          3.018452
std           1.550312
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           7.000000
Name: KONSUMNAEHE, dtype: float64
NaN percent	 8.30%
[nan  1.  5.  4.  3.  2.  6.  7.]
replace na with 3.0184520808759108

LP_FAMILIE_FEIN float64
count    886367.000000
mean          3.599574
std           3.926486
min           0.000000
25%           1.000000
50%           1.000000
75%           8.000000
max          11.000000
Name: LP_FAMILIE_FEIN, dtype: float64
NaN percent	 0.54%
[ 2.  5.  1.  0. 10.  7. 11.  3.  8.  4.  6. nan  9.]
replace na with 3.5995744426405767

LP_FAMILIE_GROB float64
count    886367.000000
mean          2.185966
std           1.756537
min           0.000000
25%           1.000000
50%           1.000000
75%           4.000000
max           5.000000
Name: LP_FAMILIE_GROB, dtype: float64
NaN percent	 0.54%
[ 2.  3.  1.  0.  5.  4. nan]
replace na with 2.1859658583859733

LP_LEBENSPHASE_FEIN float64
count    886367.000000
mean         14.622637
std          12.616883
min           0.000000
25%           4.000000
50%          11.000000
75%          27.000000
max          40.000000
Name: LP_LEBENSPHASE_FEIN, dtype: float64
NaN percent	 0.54%
[15. 21.  3.  0. 32.  8.  2.  5. 10.  4.  6. 23. 12. 20.  1. 11. 25. 13.
  7. 18. 31. 19. 38. 35. 30. 22. 14. 33. 29. 24. 28. 37. 26. 39. 27. 36.
  9. 34. nan 40. 16. 17.]
replace na with 14.622637124351426

LP_LEBENSPHASE_GROB float64
count    886367.000000
mean          4.453621
std           3.855639
min           0.000000
25%           1.000000
50%           3.000000
75%           8.000000
max          12.000000
Name: LP_LEBENSPHASE_GROB, dtype: float64
NaN percent	 0.54%
[ 4.  6.  1.  0. 10.  2.  3.  5.  7. 12. 11.  9.  8. nan]
replace na with 4.453621355488189

LP_STATUS_FEIN float64
count    886367.000000
mean          4.791151
std           3.425305
min           1.000000
25%           2.000000
50%           4.000000
75%           9.000000
max          10.000000
Name: LP_STATUS_FEIN, dtype: float64

NaN percent	 0.54%
[ 1.  2.  3.  9.  4. 10.  5.  8.  6.  7. nan]
replace na with 4.791150843837824

LP_STATUS_GROB float64
count    886367.000000
mean          2.432575
std           1.474315
min           1.000000
25%           1.000000
50%           2.000000
75%           4.000000
max           5.000000
Name: LP_STATUS_GROB, dtype: float64
NaN percent	 0.54%
[ 1.  2.  4.  5.  3. nan]
replace na with 2.432574768690621

MIN_GEBAEUDEJAHR float64
count    798073.000000
mean       1993.277011
std           3.332739
min        1985.000000
25%        1992.000000
50%        1992.000000
75%        1993.000000
max        2016.000000
Name: MIN_GEBAEUDEJAHR, dtype: float64
NaN percent	 10.45%
[  nan 1992. 1997. 2005. 2009. 1994. 1996. 2002. 2015. 1991. 1993. 1995.
 2003. 2014. 2008. 2006. 2000. 1990. 2004. 1999. 1998. 2001. 2007. 2013.
 1989. 2011. 2012. 2010. 1987. 1988. 1985. 2016. 1986.]
replace na with 1993.2770110002468

MOBI_RASTER float64
count    798073.000000
mean          2.378819
std           1.536927
min           1.000000
25%           1.000000
50%           2.000000
75%           4.000000
max           6.000000
Name: MOBI_RASTER, dtype: float64
NaN percent	 10.45%
[nan  1.  2.  4.  3.  5.  6.]
replace na with 2.37881872961496

MOBI_REGIO float64
count    757897.000000
mean          2.963540
std           1.428882
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           6.000000
Name: MOBI_REGIO, dtype: float64
NaN percent	 14.96%
[nan  1.  3.  4.  5.  2.  6.]
replace na with 2.963539900540575

ONLINE_AFFINITAET float64
count    886367.000000
mean          2.698691
std           1.521524
min           0.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: ONLINE_AFFINITAET, dtype: float64
NaN percent	 0.54%
[ 1.  3.  2.  5.  4.  0. nan]
replace na with 2.698691399837765

ORTSGR_KLS9 float64
count    794005.000000
mean          5.293002
std           2.303739
min           0.000000
25%           4.000000
50%           5.000000
75%           7.000000
max           9.000000
Name: ORTSGR_KLS9, dtype: float64
NaN percent	 10.91%
[nan  5.  3.  6.  4.  8.  2.  7.  9.  1.  0.]
replace na with 5.293001933237196

PLZ8_ANTG1 float64
count    774706.000000
mean          2.253330
std           0.972008
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           4.000000
Name: PLZ8_ANTG1, dtype: float64
NaN percent	 13.07%
[nan  2.  3.  1.  4.  0.]
replace na with 2.2533296502156945

PLZ8_ANTG2 float64
count    774706.000000
mean          2.801858
std           0.920309
min           0.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           4.000000
Name: PLZ8_ANTG2, dtype: float64
NaN percent	 13.07%
[nan  3.  2.  4.  1.  0.]
replace na with 2.8018577369995845

PLZ8_ANTG3 float64
count    774706.000000
mean          1.595426
std           0.986736
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: PLZ8_ANTG3, dtype: float64
NaN percent	 13.07%
[nan  2.  1.  3.  0.]
replace na with 1.5954258776877939

PLZ8_ANTG4 float64
count    774706.000000
mean          0.699166
std           0.727137
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: PLZ8_ANTG4, dtype: float64
NaN percent	 13.07%
[nan  1.  0.  2.]
replace na with 0.6991658771198365

PLZ8_BAUMAX float64
count    774706.000000
mean          1.943913
std           1.459654
min           1.000000
25%           1.000000
50%           1.000000
75%           3.000000
max           5.000000
Name: PLZ8_BAUMAX, dtype: float64
NaN percent	 13.07%
[nan  1.  2.  4.  5.  3.]
replace na with 1.943912916641926

PLZ8_GBZ float64
count    774706.000000
mean          3.381087
std           1.111598
min           1.000000
25%           3.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: PLZ8_GBZ, dtype: float64
NaN percent	 13.07%
[nan  4.  3.  5.  2.  1.]
replace na with 3.3810865024925585

PLZ8_HHZ float64
count    774706.000000
mean          3.612821
std           0.973967
min           1.000000
25%           3.000000
50%           4.000000
75%           4.000000
max           5.000000
Name: PLZ8_HHZ, dtype: float64
NaN percent	 13.07%
[nan  5.  4.  3.  2.  1.]
replace na with 3.6128208636566645

REGIOTYP float64
count    770025.000000
mean          4.257967
std           2.030385
min           0.000000
25%           3.000000
50%           5.000000
75%           6.000000
max           7.000000
Name: REGIOTYP, dtype: float64
NaN percent	 13.60%
[nan  3.  2.  0.  5.  1.  7.  6.  4.]
replace na with 4.257966949125028

RELAT_AB float64
count    794005.00000
mean          3.07222
std           1.36298
min           1.00000
25%           2.00000
50%           3.00000
75%           4.00000
max           9.00000
Name: RELAT_AB, dtype: float64
NaN percent	 10.91%
[nan  4.  2.  3.  5.  1.  9.]
replace na with 3.0722199482371018

RETOURTYP_BK_S float64
count    886367.000000
mean          3.419630
std           1.417741
min           1.000000
25%           2.000000
50%           3.000000
75%           5.000000
max           5.000000
Name: RETOURTYP_BK_S, dtype: float64
NaN percent	 0.54%
[ 5.  1.  3.  2.  4. nan]
replace na with 3.419629792174122

RT_KEIN_ANREIZ float64
count    886367.000000
mean          3.233723
std           1.388687
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: RT_KEIN_ANREIZ, dtype: float64
NaN percent	 0.54%
[ 1.  5.  3.  4.  2. nan]
replace na with 3.2337226002321837

RT_SCHNAEPPCHEN float64
count    886367.000000
mean          3.863797
std           1.282747
min           1.000000
25%           3.000000
50%           4.000000
75%           5.000000
max           5.000000
Name: RT_SCHNAEPPCHEN, dtype: float64
NaN percent	 0.54%
[ 4.  3.  2.  5.  1. nan]
replace na with 3.8637968245658967

RT_UEBERGROESSE float64
count    839995.000000
mean          3.023813
std           1.502725
min           0.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: RT_UEBERGROESSE, dtype: float64
NaN percent	 5.75%
[ 1.  5.  3.  4. nan  2.  0.]
replace na with 3.0238132369835533

STRUKTURTYP float64
count    793947.000000
mean          2.539212
std           0.754926
min           1.000000
25%           2.000000
50%           3.000000
75%           3.000000
max           3.000000
Name: STRUKTURTYP, dtype: float64
NaN percent	 10.91%
[nan  2.  3.  1.]
replace na with 2.5392123151797286

UMFELD_ALT float64
count    793435.000000
mean          3.223125
std           1.255785
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: UMFELD_ALT, dtype: float64
NaN percent	 10.97%
[nan  3.  2.  4.  5.  1.]
replace na with 3.223124767624317

UMFELD_JUNG float64
count    793435.000000
mean          4.017526
std           1.118399
min           1.000000
25%           3.000000
50%           4.000000
75%           5.000000
max           5.000000
Name: UMFELD_JUNG, dtype: float64
NaN percent	 10.97%
[nan  3.  5.  4.  2.  1.]
replace na with 4.017526325407879

VERDICHTUNGSRAUM float64
count    793947.00000
mean          4.58576
std           8.47152
min           0.00000
25%           0.00000
50%           1.00000
75%           5.00000
max          45.00000
Name: VERDICHTUNGSRAUM, dtype: float64
NaN percent	 10.91%
[nan  0.  1. 35.  3.  7. 23.  4.  8. 13. 16. 25.  5. 21.  6. 15. 32. 42.
 31. 11. 33. 22. 30. 18. 12. 27.  2.  9. 28. 10. 14. 20. 17. 43. 19. 24.
 34. 40. 39. 29. 26. 44. 45. 37. 36. 41. 38.]
replace na with 4.585759502838351

VHA float64
count    817722.00000
mean          0.43882
std           1.14329
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           5.00000
Name: VHA, dtype: float64
NaN percent	 8.25%
[nan  0.  1.  5.  2.  4.  3.]
replace na with 0.438820283666087

VHN float64
count    770025.000000
mean          2.417322
std           1.166572
min           0.000000
25%           2.000000
50%           2.000000
75%           3.000000
max           4.000000
Name: VHN, dtype: float64

NaN percent	 13.60%
[nan  4.  2.  0.  1.  3.]
replace na with 2.41732151553521

VK_DHT4A float64
count    815304.000000
mean          6.001214
std           2.856091
min           1.000000
25%           3.000000
50%           6.000000
75%           9.000000
max          11.000000
Name: VK_DHT4A, dtype: float64
NaN percent	 8.52%
[nan  8.  9.  7.  3. 10.  1.  6.  4.  2.  5. 11.]
replace na with 6.00121427099585

VK_DISTANZ float64
count    815304.000000
mean          7.532130
std           3.247789
min           1.000000
25%           5.000000
50%           8.000000
75%          10.000000
max          13.000000
Name: VK_DISTANZ, dtype: float64
NaN percent	 8.52%
[nan 11.  9. 10.  5.  7. 12.  1.  6. 13.  8.  4.  3.  2.]
replace na with 7.532130346471991

VK_ZG11 float64
count    815304.000000
mean          5.945972
std           2.771464
min           1.000000
25%           4.000000
50%           6.000000
75%           8.000000
max          11.000000
Name: VK_ZG11, dtype: float64
NaN percent	 8.52%
[nan 10.  6. 11.  4.  9.  8.  1.  3.  7.  5.  2.]
replace na with 5.945972299902858

W_KEIT_KIND_HH float64
count    783619.000000
mean          3.933406
std           1.964701
min           0.000000
25%           2.000000
50%           4.000000
75%           6.000000
max           6.000000
Name: W_KEIT_KIND_HH, dtype: float64
NaN percent	 12.07%
[nan  3.  2.  6.  5.  4.  0.  1.]
replace na with 3.933406413065533

WOHNDAUER_2008 float64
count    817722.000000
mean          7.908791
std           1.923137
min           1.000000
25%           8.000000
50%           9.000000
75%           9.000000
max           9.000000
Name: WOHNDAUER_2008, dtype: float64
NaN percent	 8.25%
[nan  9.  8.  3.  4.  5.  6.  2.  7.  1.]
replace na with 7.908790518048921

WOHNLAGE float64
count    798073.000000
mean          4.052836
std           1.949539
min           0.000000
25%           3.000000
50%           3.000000
75%           5.000000
max           8.000000
Name: WOHNLAGE, dtype: float64
NaN percent	 10.45%
[nan  4.  2.  7.  3.  5.  1.  8.  0.]
replace na with 4.052836018760188

In [20]:
for col in azdias.columns:
    if azdias[col].isna().any():
        print(col)
        print(azdias[col].describe())
        print(azdias[col].isna().sum() / azdias.shape[0] * 100)

In [21]:
azdias.shape

(891221, 340)

In [22]:
try:
    from tqdm import tqdm
except:
    !pip install tqdm
    from tqdm import tqdm
from sklearn import preprocessing


#normalize input to the range [0,1]
for col in azdias.columns:
    min_max_scaler = preprocessing.MinMaxScaler()
    min_max_scaler.fit(azdias[col].values.reshape(-1,1))
    if col in transforms:
        mu = azdias[col].mean()
        transforms[col].append(DataTransforms.Replace(None, mu))
        transforms[col].append("cast")
        transforms[col].append(min_max_scaler)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype uint8 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [23]:
try:
    import dill as pickle
except:
    !pip install dill
    import dill as pickle

import os
if not os.path.exists('artifacts'):
    os.makedirs('artifacts')

#save the transformation dict
with open('artifacts/transforms.pth','wb') as f:
    pickle.dump(transforms, f)

Collecting dill
  Downloading https://files.pythonhosted.org/packages/c7/11/345f3173809cea7f1a193bfbf02403fff250a3360e0e118a1630985e547d/dill-0.3.1.1.tar.gz (151kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 153kB 12.9MB/s ta 0:00:01
Building wheels for collected packages: dill
  Running setup.py bdist_wheel for dill ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/59/b1/91/f02e76c732915c4015ab4010f3015469866c1eb9b14058d8e7
Successfully built dill
Installing collected packages: dill
Successfully installed dill-0.3.1.1
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.